<!DOCTYPE html>
<html lang="en" ng-app="BrainyCouch" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
  </head>

  <body layout="column" ng-controller="PageController as page">
    <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="page.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>{{ page.core.AppName }}</h1>
    </md-toolbar>

    <div flex layout="row">

        <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
          <md-list>
            <md-item ng-repeat="it in page.pages">
                <md-button ng-click="page.selectPage(it)" ng-class="{'selected' : it === page.selected }">
                  {{it.name}}
                </md-button>
            </md-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <h2>{{page.selected.name}}</h2>
          <p>{{page.selected.content}}</p>

          <md-button class="share" md-no-ink ng-click="page.menu($event)" aria-label="Menu">
            <md-icon md-svg-icon="menu"></md-icon>
          </md-button>
        </md-content>

    </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/core/Core.js"></script>
    <script src="./src/users/Users.js"></script>
    <script src="./src/pages/Pages.js"></script>
    <script src="./src/App.js"></script>

  </body>
</html>
